@import url('colors.css');

/* 'Merriweather Sans', 'Jost', 'Hind Vadodara', 'IBM Plex Sans', 'JetBrains Mono' */
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

::selection {
    background-color: var(--teal);
    color: var(--crust);
}

body {
    background: linear-gradient(135deg, var(--base), var(--crust), var(--base));
    color: var(--text);
    font-family: 'JetBrains Mono';
    font-weight: 500;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

a {
    color: var(--maroon);
    &:hover {
        filter: brightness(125%);
    }

    &.about-link {
        color: var(--overlay0);
        margin: 30px;
        padding: 6px 12px;
        position: fixed;
        bottom: 0px;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
}

.time-container {
    margin: 8px auto;
    text-align: center;

    .time-header {
        color: var(--subtext1);
        font-size: 1.3em;
        font-weight: 600;
        margin: 12px auto;
    }

    #dayOfWeek,
    #month {
        font-size: 1.8em;
        font-weight: 700;
        margin: 10px auto;
    }

    #time {
        color: var(--pink);
        font-size: 1.9em;
        font-weight: 700;
        margin: 10px auto;
    }
}

.blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 45%;

    transition: all linear 0.2s;

    .block {
        background-color: var(--surface0);
        border-radius: 2px;
        display: flex;
        gap: 20px;
        filter: drop-shadow(2px 2px 2px var(--base));
        margin: 1px auto;
        padding: 2px 10px;
        width: 100%;
    }

    .block-current {
        background-color: var(--red);
        color: var(--crust);
        border-radius: 2px;
        display: flex;
        gap: 20px;
        filter: drop-shadow(2px 2px 2px var(--red));
        margin: 1px auto;
        padding: 2px 10px;
        width: 100%;
    }

    .block-num,
    .block-times {
        font-size: 1.3em;
        margin: 8px 0;
    }

    .schedule {
        color: var(--subtext1);
    }

    .weekend-display {
        color: var(--green);
        font-weight: 650;
    }
}

.shifted {
    color: var(--subtext0);
    font-style: italic;
}

.description {
    width: 60%;
    margin: 0 auto;

    .heading {
        color: var(--yellow);
        filter: saturate(80%);
        letter-spacing: 0.4;
    }

    .description-body {
        width: 95%;
        margin: 0 auto;
    }

    .description-text {
        margin: 24px auto;
        letter-spacing: 0.3;
        line-height: 1.5;
    }

    .subtext {
        color: var(--subtext1);

        .italic {
            font-style: italic;
        }
    }
}

@media (max-width: 600px) {
    .about-link {
        font-size: 0.8em;
        margin: 5px;
        padding: 4px 8px;
    }

    .time-container {
        margin: 6px auto;

        .time-header {
            font-size: 1.1em;
            margin: 9px auto;
        }

        #dayOfWeek,
        #month {
            font-size: 1.4em;
            margin: 9px auto;
        }

        #time {
            font-size: 1.6em;
            margin: 9px auto;
        }
    }

    .blocks {
        /* background-color: var(--overlay0); */
        width: 80%;

        .block,
        .block-current {
            font-size: 0.9em;
            padding: 5px 0px 5px 6px;
            width: 100%;
        }

        .block-num,
        .block-times {
            font-size: 1.1em;
            margin: 7px 0;
        }
    }

    .schedule {
        color: var(--subtext1);
        font-size: 1.1em;
    }

    .description {
        width: 95%;

        .heading {
            font-size: 1.3em;
            text-align: center;
        }

        .subtext,
        .description-text {
            font-size: 0.93em;
            line-height: 1.4;
        }
    }
}
