@import url('colors.css');

.time-container {
    margin: 8px auto;
    text-align: center;

    .time-header {
        color: var(--subtext1);
        font-size: 1.3em;
        font-weight: 600;
        margin: 12px auto;
    }

    #dayOfWeek,
    #month {
        font-size: 1.8em;
        font-weight: 700;
        margin: 10px auto;
    }

    #time {
        color: var(--pink);
        font-size: 1.9em;
        font-weight: 700;
        margin: 10px auto;
    }
}

.blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 45%;

    transition: all linear 0.2s;

    .block {
        background-color: var(--surface0);
        border-radius: 2px;
        display: flex;
        gap: 20px;
        filter: drop-shadow(2px 2px 2px var(--base));
        margin: 1px auto;
        padding: 0 10px;
        width: 100%;
    }

    .block-current {
        background-color: var(--red);
        color: var(--crust);
        border-radius: 2px;
        display: flex;
        gap: 20px;
        filter: drop-shadow(2px 2px 2px var(--red));
        margin: 1px auto;
        padding: 0 10px;
        width: 100%;
    }

    .block-num,
    .block-times {
        font-size: 1.3em;
        margin: 8px 0;
    }

    .schedule {
        color: var(--subtext1);
    }

    .weekend-display {
        color: var(--green);
        font-weight: 650;
    }
}

.shifted {
    font-size: 15px;
    color: var(--subtext0);
    font-style: italic;
}
